* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

img {
  max-width: 100%;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-align {
  display: flex;
  justify-content: space-between;
}

.header {
  padding: 10px 40px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;

  li {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;

    a {
      color: rgba(34, 34, 33, 255);
      text-decoration: none;
    }
  }
}

.content {
  height: 150px;
  background-color: black;
  display: flex;
  color: white;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.action {
  background: rgba(36, 134, 242, 255);
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-20 {
  width: 20%;
  /* border: 1px solid black; */
  text-transform: uppercase;
  color: white;
  /* font-weight: bold; */
  margin-right: 4rem;
}

.col-50 {
  max-width: 50%;
  margin-top: 3rem;
}

.col-33 {
  max-width: 33%;
  margin-right: 3rem;

  ul {
    list-style: none;
    font-size: 0.8rem;
    li {
      padding: 2px 0 2px;
    }
  }

  h3 {
    color: white;
    text-transform: uppercase;
    margin: 5px 0 5px;
  }

  a {
    color: #797878;
    text-decoration: none;
  }
}

.col-20 img {
  max-height: 50px;
  margin-right: 10px;
}

.jumbo {
  min-height: 400px;
  background-image: url(../public/img/footer-bg.jpg);
  background-size: cover;
  isolation: isolate;
  position: relative;
}

.logo-bg {
  background-image: url(../public/img/dc-logo-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.footerBottom {
  padding: 10px 40px;
  height: 155px;
  background-color: rgba(48, 48, 48, 255);
}

.signup {
  padding: 8px 16px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid rgba(36, 134, 242, 255);
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.follow-us {
  margin-right: 20px;
  text-transform: uppercase;
  color: rgba(36, 134, 242, 255);
}
/* utilities */

.my-5 {
  margin-top: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.inbetween {
  justify-content: space-between;
}
